@media (max-width: 715px) {
    .top {
        height: 22vh;
    }

    /* TOP -----------------------------------------------------------------------------------*/

    .statusBoxContainer{
        grid-column: 1 / span 3;
    }

    .topBarContainer{
        grid-column: 2 / span 2;
    }

    .processingServices, .totalServices{
        width: 4.5rem;
    }

    .topContainer {
        row-gap: 3vh;
        grid-template-columns: .3fr 2fr .40fr;
    }

    .logo {
        margin-top: 0;
        height: 8vh;
        grid-column: 1 / span 5;
    }

    .statusBox{
        margin-left: .5rem;
    }

    .statusBox div:last-child {
        font-size: 1.6vh;

    }

    .statusBox div:first-child {
        padding-top: 1.5vh;
        font-size: 2.5vh;
    }




}
