:root {
    --ligth-gray: #fafafa;
    --dark-gray: #4c4c4c;
    --primary: #6600ff;
    --primary-dark: #5500be;
}

* {
    font-family: sans-serif;
    margin: 0;
}

body {
    background: var(--ligth-gray);
    color: var(--dark-gray);
    font-size: .95rem;
}

.top {
    width: 100%;
    height: 18vh;
    background-image: radial-gradient(ellipse farthest-corner at 40% 0, var(--primary) -30%, var(--primary-dark) 70%);
}

.content {
    background: #fff;
    min-height: calc(82vh - 2rem);
    width: 85%;
    margin: -3vh auto 2rem;
    border-radius: .5vh;
    border: solid 1px #f3f3f3;

}

.footer {
    width: 100%;
    text-align: center;
}

/* TOP -----------------------------------------------------*/

.topContainer {
    height: calc(100% - 3vh);
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1.65fr .40fr;
    grid-template-rows: 30% calc(70% - 1rem);
}

.logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    height: 6vh;
    margin-top: 4.5vh;
}

.topBarContainer {
    grid-column-start: 3;
    grid-row-start: 1;
    height: 100%;
    width: 100%;
}

#accountDropdown {
    float: right;
}

.userPhoto {
    height: 1.8rem;
    margin: .4rem .2rem .2rem .6rem;
    border-radius: 100%;
}

#alertsDropdown {
    float: right;
}

.alerts {
    font-size: 1.5rem;
    color: white;
    margin: .6rem .2rem .2rem .6rem;
}

.statusBoxContainer {
    grid-column: 2;
    width: 100%;
    grid-row-start: 2;
    justify-self: center;
    text-align: center;
}

.statusBox {
    float: right;
    margin-left: 1rem;
    border-radius: .4rem;
    background: rgba(0, 0, 0, .5);
    height: 9vh;
    padding-left: .7rem;
    padding-right: .7rem;
    min-width: 6rem;
}

.statusBox div:last-child {
    width: 100%;
    font-size: 1.5vh;
    font-weight: bold;
    color: #00ff7e;
    height: 1.7rem;
    padding-top: .3rem;
}

.statusBox div:first-child {
    padding-top: 2vh;
    width: 100%;
    font-size: 2.2vh;
    font-weight: bold;
    color: white;
    height: 3vh;
}

.processingServices, .totalServices {

}

.balance div:last-child {

}

/* FLOAT -----------------------------------------------------------------------------*/

.dropdown {
    z-index: 9911;
    position: relative;
    display: inline-block;
}

.dropdownContent {
    margin-top: -500rem;
    opacity: 0;
    position: absolute;
    background-color: var(--ligth-gray);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 9912;
    width: 15rem;
    border-radius: .25rem;
    min-height: 3rem;
    margin-left: -12.7rem;
    transition: margin-top .01s ease, opacity .3s ease;
}

.down {
    margin-top: .7rem;
    opacity: 1;
}

.alertsDown {
    margin-top: .1rem;
    opacity: 1;
}

.dropdown:hover {
    cursor: pointer;
}

.arrow {
    width: 1.78rem;
    height: .5rem;
    background: url("../img/arrow.png") no-repeat;
    background-size: cover;
    float: right;
    margin-top: -.5rem;
}


.dropdown .title {
    background: #6600ff;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    padding-top: .6rem;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.alert {
    font-size: .8rem;
    color: #333;
    border-bottom: solid 1px #ddd;
    width: 94%;
    padding-top: .5rem;
    padding-left: .5rem;
    padding-bottom: .5rem;
    transition: background-color .2s ease, color .2s ease;
}

.alert:hover {
    border-left: solid .2rem #6600ff;
    padding-left: .3rem;
    background: #e4e4e4;
    transition: background-color .5s ease;
}

.alert:active {
    border-left: solid .2rem #5500c4;
    background: #ccc;
}

.alert .timestamp {
    color: #666;
    font-size: .7rem;
    text-align: right;
    padding-right: 1rem;
    margin: .4rem .2rem .2rem;
}

.alerts {
    padding-bottom: 1rem;
}

.items {
    color: var(--dark-gray);
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
}

.dropdownItem {
    padding: 1rem;
    border-bottom: solid 1px #ddd;
    width: 80%;
    margin-left: .5rem;
}

.dropdownItem:hover {
    border-left: solid .2rem #6600ff;
    padding-left: .8rem;
    background: #e4e4e4;
    transition: background-color .5s ease;
}

.dropdownItem:active {
    border-left: solid .2rem #5500c4;
    background: #ccc;
}

.dropdownItem i {
    margin-right: .7rem;
    font-size: 1.3rem;
    color: #6600ff;
}

.backdrop{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000022;
    z-index: 9910;
}