@media (max-width: 1024px) {
    /* TOP -----------------------------------------------------------------------------------*/
    .statusBoxContainer{
        grid-column: 2 / span 2;
    }

    .statusBox div:first-child {
        font-size: 1.9vh;
    }

    .statusBox div:last-child {
        font-size: 1rem;
    }

    .logo {
        height: 5vh;
        margin-top: 5vh;
    }
}

